<% provide(:about_active, "active") %>

<div class="container-fluid">
  <div class="row" >
    <div class="col-lg-12 cold-md-12 aboutPic">
      <h1 id="aboutBannerTitle">AcademiaRails,<br> la comunidad detrás de su nueva carrera en el desarrollo web</h1>
    </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" id="contenido">
    <h2>En AcademiaRails te ayudaremos a comenzar el viaje hacia una carrera gratificante en un campo que te encantará.</h2>
    <div>
      <p>Enseñamos habilidades técnicas que conducen a profesiones que creemos que ofrecen alegría (crecimiento personal), impacto (del consumidor al productor) y una mentalidad experimental (aprender de los errores).</p>
      <p>Enseñamos herramientas reales y prácticas, herramientas que profesionales usan en su trabajo dia a dia, porque queremos preparar a nuestros graduados para experiencias reales. Nuestras lecciones son ejercicios prácticos que te ayudaran a construir un portafolio fuerte.</p>
      <p>Aprender una nueva habilidad desde cero, es probable que encuentre dificultades, y eso está bien, una gran parte de su vida como desarrollador web se dedicará a buscar soluciones a los problemas que encuentre, afortunadamente hay toneladas de recursos que le ayudarán a solucionar tus problemas, y usted aprenderá sobre estos recursos también.</p>
      <p>Su tarea será obtener a través del curso una cantidad extrema de nuevas habilidades. Si lo hace, le prometemos que obtendrá un mejor trabajo y una mejor carrera.</p>
      <p>Nunca es demasiado tarde para conseguir un mejor trabajo y, en definitiva, una vida mejor. Empiece su viaje ahora.</p>
    </div>
  </div>
  </div>
</div>