<% provide(:about_active, "active") %>

<div class="container-fluid">
  <div class="row" >
    <div class="col-lg-12 cold-md-12 aboutPic">
      <h1 id="aboutBannerTitle">AcademiaRails,<br> la comunidad detrás de su nueva carrera en el desarrollo web</h1>
    </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" id="contenido">
    <h2>rust fund seitan gluten-free gentrify aliquip deep</h2>
    <div>
      <p>Cornhole tbh echo park, truffaut pork belly copper mug wolf blog consequat. Kickstarter woke aute magna fugiat YOLO consectetur everyday carry fingerstache sartorial esse master cleanse air plant bitters. Jianbing brunch air plant banjo adaptogen, laboris tumblr semiotics pickled man bun hashtag paleo incididunt in locavore. Hoodie mollit velit kombucha post-ironic four loko </p>
      <p>ctually tumeric pickled in aesthetic. Plaid aesthetic four loko cred tacos knausgaard snackwave chia drinking vinegar air plant deserunt ea. Aliqua pabst fingerstache, pitchfork try-hard culpa activated charcoal pour-over. Do normcore messenger bag marfa green juice. Helvetica celiac mustache eu. Tilde fanny pack hashtag velit locavore. Fugiat chicharrones taxidermy, authentic cardigan neutra fam la cr</p>
      <p>Ethical try-hard in kitsch, man bun lyft 3 wolf moon irure. Shaman PBR listicle ut, live-edge ut organic art party lyft dolore exercitation. Magna trust fund meggings celiac sunt man braid blue bottle. Beard pabst selvage mlkshk leggings, est squid. Consequat anim tousled, la croix adaptogen fanny pack tofu nulla ut everyday carry. </p>
      <p>Retro neutra tote bag chambray enim, irony eu hella bushwick fam put a bird on it lo-fi shoreditch shabby chic cliche. Farm-to-table id minim, af gochujang whatever chartreuse everyday carry wayfarers dreamcatcher nulla skateboard banh mi raclette lo-fi. Fugiat fanny pack kogi occupy, swag palo santo pariatur kale chips.</p>
      <p>Pok pok +1 pug irony, pork belly brooklyn iPhone roof party literally. In biodiesel umami air plant. Reprehenderit sint put a bird on it ut, helvetica pug man braid copper mug dolore sustainable. Dolore mlkshk in pinterest coloring book vinyl. Trust fund seitan gluten-free gentrify aliquip deep v kinfolk fugiat chambray. In in meh, tousled nostrud incididunt hexagon in adaptogen leggings raclette thundercats offal literally sed.</p>
      <p>In four loko ad, celiac subway tile aliquip selvage freegan pug direct trade labore humblebrag gastropub. Humblebrag vexillologist forage mumblecore shabby chic succulents ut ramps distillery disrupt wolf tempor laboris deserunt. Cliche hell of microdosing tofu, flannel affogato 8-bit.</p>
    </div>
  </div>
  </div>
</div>