<div class="container-fluid">
  <div class="row" >
    <div class="col-lg-16 cold-md-16 welcomePic">
      <h1 id="welcomeMessage">Empieza la carrera de tus sueños.</h1>
      <h4 id="welcomeId">Conviértase en un desarrollador web <br>desde cero</h4>
    </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" id="contenido2">
    <h2 class="lead">Una mejor forma de aprender.</h2>
    <div>
      <p>Nuestro programa se base en principios de aprendizaje probados, tecnología de primer nivel</p>
      <p> e intercambios inmersivos con expertos de la industria;</p>
      <p> todo lo que necesita para transformar su carrera.</p>
    </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" id="contenido3">
    <h2 class="flexLearning">Aprendizaje en línea flexible, a tu estilo:</h2>
    <p id="flexP">Adapte sus estudios a su vida-</p>
    <p id="flexP">te ayudaremos a mantenerte en camino</p>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6"><img id="sectionPic" src="https://res.cloudinary.com/academiarails/image/upload/v1495381248/mobileBootstrap_lyveph.jpg"></div>
    <div class="col-md-6">
      <h2 class="welcomeFacts">Haz tu propio calendario.</h2>
      <p id="welcomeFactsP">Olvídese de los horarios de clase fijos y las aulas físicas: usted está a cargo de su tiempo.<br>Te daremos la preparacion, heramientas, y el apoyo que necesitas;<br>el resto depende de usted.-</p>
      <h2 class="welcomeFacts">Mantente responsable y encaminado.</h2>
      <p id="welcomeFactsP">En AcademiaRails, nunca estás solo. La comunidad estudiantil están a solo un clic, mas estaras a una llamada o un correo electrónico de distancia de un desarrollador profesional.</p>
      <h2 class="welcomeFacts">No es necesario renunciar a tu trabajo o mudarte.</h2>
      <p id="welcomeFactsP">Nuestro curso es 100% en linea. No tienes que dejar tu vida en suspenso, por lo que puedes mantener tu trabajo y otros compromisos mientras aprendes.-</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-5">
      <h2 class="projectBased">Un curriculum basado en proyectos.</h2>
      <h4 class="finish">Termine con un portafolio fuerte y listo para el trabajo</h4>
      <h2 class="welcomeFacts">Un curriculum hecho en-casa.</h2>
      <p id="welcomeFactsP">Creado y actualizado por expertos en la industria y estructurado por desarrolladores instruccionales experimentados, nuestro curriculum te garantiza que aprendaras las habilidades que los empleadores necesitan.</p>
      <h2 class="welcomeFacts">Un plataforma de aprendizaje intuitiva.</h2>
      <p id="welcomeFactsP">Disfrute de una experiencia de aprendizaje perfecta. Conéctese sus compañeros de estudios, envíe su trabajo y reciba comentarios, vea tutoriales en video y planifique su horario de estudio con la ayuda de nuestras funciones de administración del tiempo.</p>
    </div>
    <div class="col-12 col-md-7"><img id="coursePic" src="https://res.cloudinary.com/academiarails/image/upload/v1600889970/firstLesson.png"></div>
  </div>
  <nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="/welcome">Academia<span class="light">Rails</span></a>
</nav>
</div>
