<h1 id="secciones_tags"><%= @tag.name %> lecciones</h1>

<div class="container">
  <div class="row">
  <% @tag.posts.each do |post| %>
    <div class="col-md-8" id="tagSection">
      <%= link_to post.title, post_path(post) %>
      <p class="card-text-lesson"><%= truncate(post.description, length: 130) %></p>
    </div>
  <% end %>
  </div>
</div>