.aboutPic {
  background-image:url("http://res.cloudinary.com/academiarails/image/upload/v1495378575/navigationBootstrap_oemw9k.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 550px;
}
#aboutBannerTitle {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.about {
  width: auto;
  margin: 0;
  padding: 0;
}

#contenido {
  padding-top: 7%;
  padding-bottom: 6%;
}

#aboutBannerTitle {
  color:white;
  text-align: center;
  padding-top: 30%;
}

#contenido p {
  padding: .75%;

}