.posts.index {
  .card {
    border: none;
    border-radius: 0;
    height: 400px;
    margin-bottom: 20px;
    background-color: white;
    .card-topper {
      height: 200px;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    .card-block {
      padding: 10px;
      }
      .card-title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .published-date {
        font-size: 0.8rem;
        color: #787878;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      .card-text {
        font-size: 0.9rem;
        color: black;
      }
    }
  }

.posts.edit, .posts.new {
  .card {
    .card-block {
      background-color: $gray;
    }
    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .list-group-item {
      padding: 10px;
      border-left: 0;
      border-right: 0;
      input[type='text'], textarea {
        font-size: 14px;
        background-color: $gray;
      }
      textarea {
        height: 100px;
      }
      &:last-child {
        background-color: $gray;
      }
    }
  }
}

@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}

#secciones_tags {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
}

#post_body {
  margin-top:3em;
  width: 80%;
  border: .135em solid black;
  padding: 4em;
  background-color:white;
  margin-bottom: 6em;
}

.posts.show{
  background-color: #dee0e2;
  width:100%;
}

.footer {
  margin-top: 6em;
}