// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#secciones_tags {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 4em;
}

#tagSection{
  padding: 1em;
  border: .25em solid black;
  margin: auto;
  margin-top:1.5em;
  width: 100%;
  text-align: left;
  display: block;
  position: relative;
  background-color: #dee0e2;
}

#tagSection a {
  font-family: 'Fugaz One', cursive;
  font-size: 2em;
}

#tagSection p {
  margin-top: 2em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.tagImage {
  height: auto;
  width: 15.625em;
}

#tagImageDiv{
  height: 9.375em;
  width: 15.625em;
  overflow: hidden;
  float: right;
  margin-bottom: 5em;
  border: .135em solid black;
  border-radius: 10%;
}