<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card-block">
        <h2 id="posts_main_page">

          <% @post.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag) %>
          <% end %>
        </h2>
        <!-- <h4 class="card-title"><%= link_to post.title, post %></h4> -->
      </div>
    </div>
  </div>
</div>